* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* color scheme for the site*/
:root {
    --dark: #034f84;
    --light: #92a8d1;
    --text: #f7cac9;
    --offcolor: #f7786b;
}
body {
    background-color: var(--text)
}

/*header elements and navigation links for the page*/
.header {
    padding: 20px;
    background-color: var(--dark);
    color: var(--light);
}
.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: var(--light);
    color: var(--dark);
    width: 300px;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
}
.header li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: solid 3px var(--light);
    padding: 5px;
}
.header a {
    color: var(--light);
    text-decoration: none;
}
/*background image below the header*/
.image {
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    background-image: url("../assets/Images/Banner.jpeg");
    background-size: cover;
    background-position: center;
}
/*text overlay in the background header*/
.image div {
    width: 225px;
    height: 45px;
    padding: 5px;
    margin-top: 190px;
    margin-right: 50px;
    background-color: var(--light);
    font-size: 25px;
    text-align: center;
    float: right;
}

/*1st section with about me and text in the page*/
.body {
    float: left;
    width: 100%;
}
.body div {
    width: 25%;
    color: var(--dark);
    float: left;
    border-right: solid 3px var(--dark);
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding: 20px;
    margin: 20px;
}
.body content {
    padding-top: 40px;
    padding-right: 0px;
    width: 65%;
    color: var(--dark);
    float: left;
    text-align: center;
    font-size: 17px;
}

/* work section, come back ot this area when adding work to portforlio*/
.work {
    width: 65%;
    margin: 20px;
    padding: 20px;
    background-color: var(--offcolor);
    border: solid 2px var(--light);
}
.work p {
    width: 150px;
    margin: 20px;
    padding: 20px;
    background-color: var(--light);
    float: left;
}

/*contact me with external links */
.body nav ul {
    list-style-type: none;
    text-align: center;
}
.body li {
    display: inline-block;
    margin-left: 0px;
    padding: 5px;
    border-bottom: solid 3px var(--dark);
    margin: 10px;
}
.body a {
    color: var(--dark);
    text-decoration: none;
    font-size: 15px;
}